<div id="add_container">

    <h2>Modificar post</h2>

    <form id="login_form" action="/admin/administracion/modificar" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id_post" value="{{post.id_post}}"></input>
        <input type="hidden" name="portada_original" value="{{post.portada}}"></input>

        <div class="line_container">

                <label for="id_usuario">User Id</label>
                <input type="text" name="id_usuario" value="{{post.id_usuario}}"></input>

        </div>
        
        <div class="line_container">

                <label for="fecha">Fecha</label>
                <input type="text" name="fecha" value="{{post.fecha}}"></input>

        </div>

        <div class="line_container">

                <label for="tipo">Tipo</label>
                <select name="tipo">

                    <option value="tutorial">Tutorial</option>
                    <option value="noticia">Noticia</option>

                </select>

        </div>

        <div class="line_container">

                <label for="portada">Portada</label>
                <input type="file" name="portada"></input>

        </div>

        <div class="line_container">

            <label for="titulo">Título</label>
            <textarea type="text" name="titulo">{{post.titulo}}</textarea>
        
        </div>

        <div class="line_container">

            <label for="cuerpo">Cuerpo</label>
            <textarea type="text" name="cuerpo">{{post.cuerpo}}</textarea>
        
        </div>

        <div class="line_container">

            <label for="borrar_portada">Eliminar portada actual?</label>
            <input type="checkbox" name="borrar_portada" value="1"></input>
        
        </div>

        <div class="line_container">

                <button id="add_submit" type="submit">Modificar</input>

        </div>

    </form>

    {{#if error}}

        <div class="line_container">
        
            <p>{{message}}</p>
        
        </div>

    {{/if}}

 </div>